PORT

BASE_APP_URL

GOOGLE_CLIENT_EMAIL
GOOGLE_PRIVATE_KEY
GOOGLE_PROJECT_ID
GOOGLE_LYRICS_ID
GOOGLE_SCOPES

MONGO_DB_HOST

CLOUD_NAME
CLOUD_API_KEY
CLOUD_API_SECRET

SECRET_KEY
MAIL_API_KEY
SERVICE_EMAIL